@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: GianeGothic, sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
}

.radial-shade {
  position: absolute;
  inset: 0;
}

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: #373B3E;
}

.main-loader svg {
  height: 3.75rem;
  width: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #13CBB9;
  -webkit-animation: loader 1.3s;
          animation: loader 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 0 5rem;
  border-bottom: 1px solid #56626D;
}

nav h1 {
  margin: 0;
  color: #13CBB9;
  text-transform: uppercase;
}

nav h1 span {
  font-size: 2.5rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.05rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav ul li:hover {
  color: #13C6B3;
  border-bottom: 1px #13CBB9 solid;
}

nav .search-icon {
  width: 11.673rem;
  max-width: 100%;
}

nav .search-icon svg {
  fill: #13CBB9;
  z-index: 10;
  background-color: #373B3E;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: .65rem;
  border-radius: 50%;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .movie-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding: 5rem 0;
}

.main-section .movie-description h1, .main-section .movie-description h2, .main-section .movie-description h3, .main-section .movie-description h4, .main-section .movie-description h5, .main-section .movie-description h6, .main-section .movie-description span, .main-section .movie-description p {
  margin: 0;
  color: #fff;
}

.main-section .movie-description h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.main-section .movie-description h4 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.3rem;
}

.main-section .movie-description span {
  text-transform: capitalize;
}

.main-section .movie-description p {
  max-width: 33rem;
}

.main-section .movie-description .fade {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section .movie-description .genres {
  padding: 0 0 .7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-section .movie-description .genres span {
  padding: 0 .3rem;
}

.main-section .movie-description .control-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 2.3rem 0;
}

.main-section .movie-description .control-buttons button {
  cursor: pointer;
  background-color: #13C6B3;
  padding: 1rem 1.3rem;
}

.main-section .movie-description .control-buttons button svg {
  fill: #fff;
}

.main-section .movie-description .control-buttons button:hover {
  background-color: #104946;
}

.main-section .rating {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.main-section .rating .stars {
  padding: .7rem 0;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}

.main-section .rating .stars::before {
  content: '★★★★★';
  background: -webkit-gradient(linear, left top, right top, from(#FEBE05), to(#fff));
  background: linear-gradient(90deg, #FEBE05 var(--percent), #fff var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie-list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: -10px;
  left: 1px;
}

.movie-list-section .movie-list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .7rem 1.3rem;
}

.movie-list-section .selected img {
  border: 1px #353c42 solid;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 12.5rem;
  height: 18rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.movie-list-section .selected span {
  padding: .5rem 0 0 0;
  max-width: 10.5rem;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.movie-list-section .item img {
  border: 1px #353c42 solid;
  max-width: 100%;
  max-height: 100%;
  width: 10.5rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.movie-list-section .item span {
  color: #83868A;
  padding: .5rem 0 0 0;
  max-width: 10.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=global.css.map */