@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes img-loader {
  0% {
    transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
  }
}

@keyframes settings-default {
  0%, 20%, 80%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@keyframes hide {
  0% {
    bottom: 0;
    top: 65.4%;
  } 100% {
    bottom: -50px;
    top: 85%;
  }
}

@keyframes show {
  0% {
    bottom: -50px;
    top: 85%;
  } 100% {
    bottom: 0;
    top: 65.4%;
  }
}