@import "./keyframes";
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100vh;
    max-height: 100%;
}
.radial-shade {
    position: absolute;
    inset: 0;
}
.main-loader {
    @include absolute(50, 50);
    height: 100vh;
    width: 100vw;
    background-color: #373B3E;
    svg {
        height: 3.75rem;
        width: 3.75rem;
        @include absolute(50, 50);
        fill: #13CBB9;
        animation: loader 1.3s;
        animation-iteration-count: infinite;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 5rem;
    border-bottom: 1px solid #56626D;
    h1 {
        margin: 0;
        color: #13CBB9;
        text-transform: uppercase;
        span {
            font-size: 2.5rem;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 1rem 2rem;
            color: #fff;
            font-size: 1.05rem;
            transition: all 0.5s;
        }
        li:hover {
            color: #13C6B3;
            border-bottom: 1px #13CBB9 solid;
        }
    }
    .search-icon {
        width: 11.673rem;
        max-width: 100%;
        svg {
            fill: #13CBB9;
            z-index: 10;
            background-color: #373B3E;
            box-sizing: content-box;
            padding: .65rem;
            border-radius: 50%;
        }
    }
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .movie-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70%;
        padding: 5rem 0;
        h1, h2, h3, h4, h5, h6, span, p {
            margin: 0;
            color: #fff;
        }
        h1 {
            text-transform: uppercase;
            font-size: 4rem;
        }
        h4 {
            text-transform: capitalize;
            font-weight: normal;
            font-size: 1.3rem;
        }
        span {
            text-transform: capitalize;
        }
        p {
            max-width: 33rem;
        }
        .fade {
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .genres {
            padding: 0 0 .7rem 0;
            display: flex;
            flex-direction: row;
            span {
                padding: 0 .3rem;
            }
        }
        .control-buttons {
            display: inline-flex;
            justify-content: center;
            padding: 1rem 0 2.3rem 0;
            button {
                cursor: pointer;
                background-color: #13C6B3;
                padding: 1rem 1.3rem;
                svg {
                    fill: #fff;
                }
            }
            button:hover {
                background-color: #104946;
            }
        }
    }
    .rating {
        max-width: fit-content;
        .stars {
            padding: .7rem 0;
            --percent: calc(var(--rating) / 5 * 100%);
            display: inline-block;
            font-size: 2rem;
            line-height: 1;
            &::before {
              content: '★★★★★';
              background: linear-gradient(90deg, #FEBE05 var(--percent), #fff var(--percent));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
    }
}
.display-on {
    top: 614px;
}
.movie-list-section {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    .list-section-inner {
        display: flex;
        overflow-x: scroll;
        .movie-list {
            min-width: 12.5rem;
            width: max-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: .7rem 1.3rem;
        }
    }
    .list-section-inner::-webkit-scrollbar {
        width: 1px;
    }
    .list-section-inner::-webkit-scrollbar-thumb {
        background-color: #13CBB9;
        border-radius: 10px;
    }
    .selected {
        img {
            border: 1px #353c42 solid;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            width: 12.5rem;
            height: 18rem;
            transition: all .3s;
        }
        span {
            padding: .5rem 0 0 0;
            max-width: 10.5rem;
            color: #fff;
            transition: all .3s;
        }
    }
    .item {
        img {
            border: 1px #353c42 solid;
            max-width: 100%;
            max-height: 100%;
            width: 10.5rem;
            height: 15rem;
            object-fit: cover;
            transition: all .3s;
        }
        span {
            color: #83868A;
            padding: .5rem 0 0 0;
            max-width: 10.5rem;
            transition: all .3s;
        }
    }
    .show-content-btn {
        position: absolute;
        @include absolute(0, 95);
        top: -5%;
        width: 3rem;
        height: 3rem;
        background-color: #14c8b680;
        border-radius: 50%;
        svg {
            fill: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            transform-origin: center;
        }
    }
}